version: '3.8'
services:
  app:
    build: .
    container_name: zenstream-app
    restart: unless-stopped
    ports:
      - "6969:6969"
    env_file:
      - .env
    volumes:
      - ./data:/data
      - ./db:/app/db
    environment:
      - NODE_ENV=production
      - DATA_DIR=/data
    # Uncomment jika ingin mengatur timezone container
    # - TZ=Asia/Jakarta